/** Light */
@font-face {
    font-family: 'Helvetica-Light';
    src: url(../fonts/helveticaneuelight.ttf);
}

/** Italic */
@font-face {
    font-family: 'Helvetica-Italic';
    src: url(../fonts/helveticaneueitalic.ttf);
}


/** Regular */
@font-face {
    font-family: 'Helvetica-Regular';
    src: url(../fonts/helveticaneue.ttf);
}


/** World */
@font-face {
    font-family: 'Helvetica-World';
    src: url(../fonts/helveticaworldregular.ttf);
}


/** Bold */
@font-face {
    font-family: 'Helvetica-Bold';
    src: url(../fonts/helveticaneuebold.ttf);
}


/** Ultra-Light */
@font-face {
    font-family: 'Helvetica-Ultra-Light';
    src: url(../fonts/helveticaneueultralight.ttf);
}


/** Semi-Bold */
@font-face {
    font-family: 'Helvetica-Semi-Bold';
    src: url(../fonts/helveticaneuemedium.ttf);
}