/*****Loađing******/
.loading{
	overflow: hidden;
}
.spinner {
	margin: 10px auto;
	width: 32px;
	height: 32px;
	position: relative;
	text-align: center;
	border: 3px solid rgba(255,255,255,0.4);
	border-radius: 20px;
	-webkit-animation: sk-rotate 1.3s infinite linear;
	animation: sk-rotate 1.3s infinite linear;
}
.quarter {
	width: 16px;
	height: 16px;
	position: relative;
	margin-left: -3px;
	margin-top: -3px;
	overflow: hidden;
}
.circle {
	width: 32px;
	height: 32px;
	position: relative;
	text-align: center;
	border: 3px solid #fff;
	border-radius: 20px;
	-webkit-border-radius: 20px;
}
 @-webkit-keyframes sk-rotate {
	100% {
	-webkit-transform: rotate(360deg)
	}
}
@keyframes sk-rotate {
	100% {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg)
	}
}