$ilb: inline-block;
$clr-black: rgb(0, 0, 0);
$clr-black-half: rgb(25, 25, 25);
$clr-black-16: rgb(42, 42, 42);
$clr-white: rgb(255, 255, 255);
$clr-gray: rgb(230, 230, 230);
$clr-gray-slightly: #f4f4f4;
$clr-gray-opacity-50: rgba(74, 74, 74, 0.5);
$clr-primary: rgb(242, 2, 2);
$clr-primary-black: #bb0200;
$clr-black-opacity-40: rgba(0, 0, 0, 0.4);
$clr-black-opacity-30: rgba(0, 0, 0, 0.5);
$clr-black-opacity-80: rgba(0, 0, 0, 0.2);
$clr-gray-opacity: rgb(167, 167, 167);
$clr-green: #0fc89a;//0fc89a
$clr-green-dark: rgb(0, 147, 126);
$clr-yellow: #f1ae0d;//ffac00
$clr-yellow-dark: #b67918;//ffac00
$clr-blue-aqua: #00c6ea;
$clr-blue: #306bff;//306bff
$clr-blue-dark: #17a2b8;//1486bf
